.App h1 ,.App h2{
  text-align: center;
}
.user-cards-container {
  display: flex;
  gap: 30px;  
  margin-bottom: 2px;  
}
.counter-container {
  
  display: flex;
  justify-content: center;
  text-align: center;
}
.group-members-container ,.App h4{
  display: flex;
  margin-left: 13em;
  
}
.group-members-container{
  margin-bottom: 10em;
}